{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">PROFILE</h1>

    <div class="row text-center text-white mb-5">
        <div>
            <h2 class="font-white-bold st-font text-warning">CODING</h2>
        </div>
        <div class="col-sm-4">
            <a style="padding:5px" href="https://python.org" target="_blank"><i class="fab fa-python fa-2x mb-3 i-color"></i></a>
            <h4>PYTHON</h4>
        </div>

        <div class="col-sm-4">
            <a style="padding:5px" href="https://getbootstrap.com/" target="_blank"><i class="fas fa-palette fa-2x mb-3 i-color"></i></a>
            <h4>Web Design</h4>
        </div>

        <div class="col-sm-3">
            <a style="padding:5px" href="https://mysql.com" target="_blank"><i class="fas fa-database fa-2x mb-3 i-color"></i></a>
            <h4>MY SQL</h4>
        </div>
        <div class="container mt-5">
            <h2 class="font-white-bold st-font text-warning">SPORTS</h2>
        </div>

         <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <a style="padding:5px" href="https://www.icc-cricket.com/" target="_blank"><i class="fas fa-baseball-ball fa-2x mb-3 i-color"></i></a>
            <h4>CRICKET</h4>
        </div>

        <div class="col-sm-4">
            <a style="padding:5px" href="https://www.football.com" target="_blank"><i class="fas fa-futbol fa-2x mb-3 i-color"></i></a>
            <h4>FOOT BALL</h4>
        </div>

        <div class="col-sm-4">
            <a style="padding:5px" href="https://in.nba.com" target="_blank"><i class="fas fa-basketball-ball fa-2x mb-3 i-color"></i></a>
            <h4>BASKET BALL</h4>
        </div>
             <div class="container mt-5">
                <h2 class="font-white-bold st-font text-warning">OTHER</h2>
             </div>

          <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <a style="padding:5px" href="https://netflix.com" target="_blank"><i class="fas fa-play fa-2x mb-3 i-color"></i></a>
            <h4>MOVIES</h4>
        </div>

        <div class="col-sm-4">
            <a style="padding:5px" href="https://online.kfc.co.in" target="_blank"><i class="fas fa-hamburger fa-2x mb-3 i-color"></i></a>
            <h4>FOOD</h4>
        </div>

        <div class="col-sm-4">
            <a style="padding:5px" href="https://apple.com" target="_blank"><i class="fas fa-mobile fa-2x mb-3 i-color"></i></a>
            <h4>MOBILE</h4>
        </div>

    </div>
</div>
        {% endblock content %}