{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <style>
        body {
            background-image: url({% static 'images/film.jpg' %});
            background-size: 99.9%;
        }
    </style> -->
</head>
<body style="background-color: rgb(55, 53, 59)">
    <!-- Image and text -->
<nav class="navbar navbar-daek bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style = 'font-family: "Comic Sans MS"; color: rgb(218, 212, 205);'><b>FLY HIGH</b></a>
        <div><button onclick="document.location.href='/login';" style="color: rgb(176, 204, 97);">Sign In</button>
        <button onclick="document.location.href='/signup';" style = ' color: rgb(176, 204, 97) ;' >Sign Up</button> </div>
      <!-- </div> -->
  </div>
</nav>

<center><h2 style = 'font-family: "Comic Sans MS"; color: rgb(218, 212, 205); font-size: 45px;'><b>Fly Anywhere..!</b></h2></center>

</body>
</html>