{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
    <div class="row text-white">

        <div class="col-sm-5">
            <h3 class="mt-5">PYTHON</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow=100
                     aria-value-min="0" aria-valuemax="100">100%</div>
            </div>
        </div>

        <div class="col-sm-1">

        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">DJANGO</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     role="progressbar" style="width:90%" aria-valuenow="90"
                     aria-value-min="0" aria-valuemax="100">90%</div>
            </div>
        </div>

        <div class="col-sm-1">

        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">JAVA PROGRAMMING</J></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" progress-bar-animated bg-info
                     role="progressbar" style="width:60%" aria-valuenow="60"
                     aria-value-min="0" aria-valuemax="100">60%</div>
            </div>
        </div>

        <div class="col-sm-1">

        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     role="progressbar" style="width:85%" aria-valuenow="85"
                     aria-value-min="0" aria-valuemax="100">85%</div>
            </div>
        </div>

        <div class="col-sm-1">

        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">SQL</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     role="progressbar" style="width:85%" aria-valuenow="85"
                     aria-value-min="0" aria-valuemax="100">85%</div>
            </div>
        </div>

        <div class="col-sm-1">

        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">JAVASCRIPT</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     role="progressbar" style="width:50%" aria-valuenow="50"
                     aria-value-min="0" aria-valuemax="100">50%</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}